# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
.eggs/
*.wheel

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.lcov

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.vscode/
*.env
.env.*
.venv
venv.bak/

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Editor backups
*~

# Python virtualenv
pyvenv.cfg

# PyCharm coverage and metadata
.idea/
*.iml
out/